In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/DataHack /jetson-sample-data.csv')
data.head(5)

,client_id,order_id,item_name,quantity,price,date
0,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Cosmonaut,1,16.0,2022-01-24
1,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Krombacher,1,8.0,2022-01-24
2,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Ahi Tuna,1,23.0,2022-01-24
3,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Little Gem Salad,1,14.0,2022-01-24
4,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Fire Pie,1,20.0,2022-01-24

In [ ]:
print(data.isnull().sum().sum())

0

In [ ]:
data.dropna()

,client_id,order_id,item_name,quantity,price,date
0,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Cosmonaut,1,16.0,2022-01-24
1,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Krombacher,1,8.0,2022-01-24
2,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Ahi Tuna,1,23.0,2022-01-24
3,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Little Gem Salad,1,14.0,2022-01-24
4,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Fire Pie,1,20.0,2022-01-24
...,...,...,...,...,...,...
687906,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlcigLEhtuaWdodGxvb3...,HH Etta Rita,1,8.0,2021-11-16
687907,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlcigLEhtuaWdodGxvb3...,HH Negroni,1,8.0,2021-11-16
687908,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlcigLEhtuaWdodGxvb3...,Rack Roasted Oysters,1,14.0,2021-11-16
687909,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlcigLEhtuaWdodGxvb3...,Roasted Branzino,1,45.0,2021-11-16
687910,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlcigLEhtuaWdodGxvb3...,Brussels Sprouts,1,13.0,2021-11-16

drop rows where value is negative

In [ ]:
df = data.drop(data[data['price'] < 0.0].index,inplace = True)

drop rows where item_name is ALL IN ON SAVORY , CCard Conveience , Staff Discount , cake cutting charge ,

In [ ]:
df = data = data.drop(data[data['item_name'].str.contains('ALL IN ON SAVORY|CCard Convenience|Staff Discount|Cake Cutti|Upcharge|Cc Charge|Cc fee|For Cc Tip|Pep Fee|Pep Charge|Pep', na=False)].index)

export csv file

In [ ]:
df.to_csv('/content/drive/MyDrive/Colab Notebooks/preprocessed_data(final).csv')

In [ ]:
df.head(5)

,client_id,order_id,item_name,quantity,price,date
0,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Cosmonaut,1,16.0,2022-01-24
1,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Krombacher,1,8.0,2022-01-24
2,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Ahi Tuna,1,23.0,2022-01-24
3,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Little Gem Salad,1,14.0,2022-01-24
4,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Fire Pie,1,20.0,2022-01-24

In [ ]:
group_data_df = df[['order_id','client_id','date']]
group_data_df.head()

,order_id,client_id,date
0,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,2022-01-24
1,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,2022-01-24
2,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,2022-01-24
3,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,2022-01-24
4,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,2022-01-24

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
group_data_df['encoded_order_id'] = le.fit_transform(group_data_df['order_id'])
group_data_df['encoded_client_id'] = le.fit_transform(group_data_df['client_id'])

<ipython-input-15-11ebeb9ff406>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  group_data_df['encoded_order_id'] = le.fit_transform(group_data_df['order_id'])
<ipython-input-15-11ebeb9ff406>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  group_data_df['encoded_client_id'] = le.fit_transform(group_data_df['client_id'])

In [ ]:
group_data_df

,order_id,client_id,date,encoded_order_id,encoded_client_id
0,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,2022-01-24,13492,61880
1,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,2022-01-24,13492,61880
2,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,2022-01-24,13492,61880
3,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,2022-01-24,13492,61880
4,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,2022-01-24,13492,61880
...,...,...,...,...,...
687906,ahNzfnNldmVucm9vbXMtc2VjdXJlcigLEhtuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,2021-11-16,72480,57298
687907,ahNzfnNldmVucm9vbXMtc2VjdXJlcigLEhtuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,2021-11-16,72480,57298
687908,ahNzfnNldmVucm9vbXMtc2VjdXJlcigLEhtuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,2021-11-16,72480,57298
687909,ahNzfnNldmVucm9vbXMtc2VjdXJlcigLEhtuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,2021-11-16,72480,57298
687910,ahNzfnNldmVucm9vbXMtc2VjdXJlcigLEhtuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,2021-11-16,72480,57298

In [ ]:
new_df = pd.DataFrame()
new_df['client_id'] = group_data_df['encoded_client_id'].unique() 
new_df['grouped_ordered_id'] = group_data_df.groupby('encoded_client_id')['encoded_order_id'].unique().apply(list)
new_df['grouped_date'] = group_data_df.groupby('encoded_client_id')['date'].unique().apply(list)
new_df

       client_id grouped_ordered_id  grouped_date
0          61880            [33644]  [2021-08-15]
1          48650            [67910]  [2021-04-06]
2          15565            [44628]  [2022-06-05]
3          14800            [24994]  [2021-05-30]
4             33            [48157]  [2021-12-31]
...          ...                ...           ...
66469      57172            [66644]  [2023-01-22]
66470      56798            [66366]  [2023-01-21]
66471      57299            [66107]  [2023-01-21]
66472      56927            [66265]  [2023-01-22]
66473      57298            [66104]  [2023-01-22]

[66474 rows x 3 columns]

Warning: total number of rows (66474) exceeds max_rows (20000). Limiting to first (20000) rows.
Warning: total number of rows (66474) exceeds max_rows (20000). Limiting to first (20000) rows.

In [ ]:
dataframe  = data['item_name'].value_counts()
print(dataframe.head(4))

Focaccia           33513
Guest Love         17992
Bubbling Shrimp    16492
Etta Rita          15525
Name: item_name, dtype: int64

In [ ]:
item_prices = dict(zip(df['item_name'], df['price']))
top_items = sorted(item_prices.items(), key=lambda x: x[1], reverse=True)[:5]
for item, price in top_items:
    print(f'{item}: ${price:.2f}')

$75 Family Style: $6975.00
$45 pp Lunch Menu: $3600.00
$75 Stations: $2775.00
$60 Family Style: $2700.00
Impress the In-Laws: $2408.00